# Specifically ignoring files which must stay untouched from original state.
Makefile
main.c
session.h
store.h

# Ignoring the intermediate files
*.o

# Ignoring the executable and its possibly various versions
secure_store*
